@using TrelloProject.Constants
@model List<CardModel>

<html>
    <head>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css"/>
        <script src='~/js~/js/site.js'></script>
    </head>
    <body onload="init()">

        <button class="btn" onclick="showModal('@Url.Action("Create", "Home")')">Create</button>

        <div id="dragparent">
            @{
                foreach(var status in Enum.GetValues(typeof(Status)))
                {
                    <div id="@status" class="dragcolumn">
                        <h2>@status.ToString().ToUpper()</h2>
                        @foreach(var card in Model.Where(x => x.Status == (Status)status))
                        {
                            <div class="dragthing">
                                @Html.Hidden(card.id)
                                <h4>@card.Title</h4>
                                <p>@card.Description</p>
                                <a class="btn" id="@card.id" onclick="showModal('@Url.Action("Details", "Home")' + '/' + this.id)">Show</a>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content model-content-card">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>  
    </body>
</html>